.project-container {
    font-family: 'Roboto Light';
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.text-column {
    flex-basis: calc(50%-10px);
    margin-right: 20px; /* Adjust the spacing between columns */
    max-width: 100%;
}

.image-column {
    justify-content:center;
    align-items: center;
    position:relative;
    max-width: 100%;
}

.image-wrapper{
    text-align:center;
    margin-bottom:20px;
}
.image-wrapper img{
    margin-bottom: 20px; /* Adjust the spacing between images */
    max-width:100%;
    width: 60%;
    height: auto;
}

.caption {
    font-style: italic;
}
