body{
    background-color: #ffffff;
}

/* Fading out the entire page on a link click */
body.fade-effect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Fonts  */
@font-face {
    font-family:'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* Key frames for fade in animation */
/* Different definitions depending on the web browser */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}