body{
    background-color: #ffffff;
}

/* Fading out the entire page on a link click */
body.fade-effect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Fonts  */
@font-face {
    font-family:'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* Stuff for the heading of the page */
.heading_container{
    color: black;
    font-family: 'Roboto Light';
    font-size: xx-large;
    font-weight: normal;
    position:relative;
    /* Fade in animation */
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.heading{
    float:left;
    margin-left: 4%;
}

.heading_links{
    left: 100px;
    float: right;
    margin-right: 4%;
}

/* Hyper link styler */
a{
    position:relative;
    padding: 15px;
    color: inherit;
    text-decoration: inherit;
}

/* When hovering over a header, play an underline animation  */
a:after {    
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px; /* Adjust the bottom value to move the underline closer to the text */
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: center; /* Determines where the line starts (center starts from center, left center starts from left)*/
    transition: transform 0.3s ease-in-out;
}
a:hover:after { 
    transform: scaleX(1);
}

/* Key frames for fade in animation */
/* Different definitions depending on the web browser */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}