.container {
    font-family: 'Roboto Light';
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.text {
    flex: 1;
    margin-right: 20px; /* Adjust the spacing between text and image */
    font-size: x-large;
    padding-left: 3%;
}

.image {
    flex: 1;
}

.image img {
    transform: scale(0.8);
    max-width: 100%; /* Ensure the image does not exceed its container */
    /* height: auto; */
}

.linkedin-link{
    margin: 0;
    padding: 0;
    padding-bottom:3%;
}

.linkedin-image {
    width: 8em; /* Set the image width relative to the font size */
    height: auto; /* Maintain the aspect ratio */

}