body{
    background-color: #ffffff;
}

h1{
    color:black
}

/* Fonts  */
@font-face {
    font-family:'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* Stuff for the heading of the page */
.heading_container{
    color: black;
    font-family: 'Roboto Light';
    font-size: xx-large;
    font-weight: normal;
    /* Fade in animation */
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.heading{
    float:left;
    position: relative;
    margin-left: 10%;
}

.heading_links{
    left: 100px;
    float: right;
    margin-right: 10%;
    color: inherit;
    text-decoration: inherit;
}

/* Hyper link styler */
a{
    padding: 15px;
    color: inherit;
    text-decoration: inherit;
}

/* Stuff for the body of the page */
.main_body_container{
    border: 100px;
    padding: 80px;
    animation: fadeIn 2s;
    font-family: sans-serif, 'Roboto Light';
    font-size: xxx-large;
    font-weight: normal;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.sub_body_container{
    width: 50%;
    float:left;
    position: relative;
    top: 200px;
    right: 20px;
}

.main_txt_image{
    width:70%;
    height: auto;
    margin-left: 20%;
}

.VITA_img_container{
    float: right;
    padding:10px;
    margin-left: 50%;
}

.VITA_image{
    /* right: 10px; */
    width: 100%;
    height: auto;;
}

/* Key frames for fade in animation */
/* Different definitions depending on the web browser */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}